
$hue-color: 144;
$primary-color: hsla($hue-color, 76%, 65%, 1);
$primary-color-muted: hsla($hue-color, 76%, 60%, .5);
$primary-color-darken: darken($primary-color, 20%);
$blue-info: #0065ff;
$green-success: #36b37e;
$yellow-warning: #ffab00;
$red-danger: #ff5630;
$purple-focus: #6554c0;
$n0: #ffffff;
$n10: #fafbfc;
$n20: #f4f5f7;
$n30: #ebecf0;
$n40: #dfe1e6;
$n50: #c1c7d0;
$n60: #b3bac5;
$n70: #a5adba;
$n80: #97a0af;
$n90: #8993a4;
$n100: #7a869a;
$n200: #6b778c;
$n300: #5e6c84;
$n400: #505f79;
$n500: #42526e;
$n600: #344563;
$n700: #253858;
$n800: #172b4d;
$n900: #091e42;

//* TYPOGRAPHY
$font-base: 'Inter', 'Noto Sans', sans-serif;
$font-mono: 'Fira Code', 'Fira Mono', monospace;
$display-text-size: 60px;
$h1-text-size: 48px;
$h2-text-size: 38px;
$h3-text-size: 30px;
$body-text-size-lg: 22px;
$body-text-size-md: 20px;
$body-text-size-sm: 18px;
$small-text-size: 16px;
$text-color: #B4BACC;
$title-color: #ECEEF2;
